@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-pattern: url('/bg.png');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



@layer components {
  .container {
    @apply mx-auto sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] xxl:max-w-[1320px];
  }
  body{
    @apply bg-bgPattern bg-cover
  }
}

